body{
  width: 100%;
  height: 100%;
  margin: 0 auto;

  /* background-image: url(/assets/BG.png); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

main{
  position: relative;
  margin: 0 auto;
}

/*header*/
#menu-principal {
  background-image: url(/assets/header.png);
  background-position: 30%;
  background-size: cover;
  width: 100%;
}
.logo img{
  width: 10%;
  padding: 10px;
}
nav{
  border-bottom: 3px solid #691d3f;
  height: 40px;
  background-color: lightslategray;
  font-size: 20px;
}
nav ul {
  margin: auto;
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
nav li {
  padding: 10px;
  width: 100%;
  height: center;
  text-align: center;
  justify-content: center;
  
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
nav ul li:hover{
  background-color: #1c5a9c;
}

.title{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #828282;
  text-align: center;
  color: white;
}
.Home h1 {
  margin: 8px;
  justify-content: center;
  text-transform: uppercase;
}
section{
  display: flex;
  margin: 15px;
  padding: 10px;
  height: 100%;
}
.atividades h2 {
  margin: 4px;
  padding: auto 8px;
}
.atividades img{
  width: 35%;
  height: auto;
}

.games {
  border: 1px solid red;
  margin: 30px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.games-wrapper {
  /* display: inline-block; */
  width: 255px;
  height: 175px;
  margin: 5px;
  padding: 10px;
  /* text-align: center; */
}
.games-wrapper a{
  text-decoration: none;
  text-transform: uppercase;
}
.game-img img{
  /* object-fit: cover; */
  width: 250px;
  height: 145px;
  border: 1px solid gray;
  border-radius: 10px;
}

.photo-gallery {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 1px solid red;
}
.photo-gallery img{
  padding: 8px;
  align-items: center;
  border: 1px solid grey;
  width: 100%;
}
.photo-nav img{
  padding: 10px;
  object-fit: cover;
}

/*slick settings*/
.slick-initialized {
  overflow:hidden
}
button.slick-prev {
  width: 40px;
  height: 40px;
  font-size: 0px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/left-arrow.png);
  background-size: cover;

  position: absolute;
  z-index: 1;
  top: 43%;
  left: 1%;
}

button.slick-next {
  width: 40px;
  height: 40px;
  font-size: 0px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/right-arrow.png);
  background-size: cover;

  position: absolute;
  z-index: 1;
  top: 43%;
  right: 1%;
}

/* .slick-dots li button {
  font-size: 0px;
  border: 4px solid white;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
} 

.slick-dots {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 48%;
  top: 1020px;
}

li.slick-active button {
  background: aqua;
}

  .slick-dots li {
    display: inline-block;
  } */

